@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


body {
    background-color: #ffffff;

}

#main {
    width: 85%;
    max-width: 800px;
    padding: 0px 25px 0px 25px;
}

h1 {
    color: #113580;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 2em;
}

h2 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
}


.icon {
    fill: gray;
}

.icon:hover {
    fill: blue;
}

.icondiv {
    padding-top: 20px;
}

#aka {
    color: #c78e52;
}

#timeline {

}


#img-div {
    text-align: center;
    position: relative;
    font-size: 1em;
}

#img-div i {
    font-size: 0.9em;
}

img {
    border-radius: 30px;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 5px;
}


a {
    color: #008F11;
}

#timeline {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    margin: auto;
}

p {

    border-top: 2px dashed;
    border-color: blue !important;
    margin:0; padding: 30px;
}



p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}


p {
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;

}

hr {
    color: #008F11;
}

#footer p {
    text-align: center;
}

.linkedin {
    text-align: center;


}

.logolink:hover {
    background-color: #113580;

}

.logolink {
object-position: center;
padding-top: 40px;
}