body {
    background-color: #e4eb1e;

}

#main {
    width: 85%;
    max-width: 800px;
    padding: 0px 25px 0px 25px;
}

h1, h2 {
    color: #00FF41;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}

#img-div {
    text-align: center;
    position: relative;
    font-size: 1em;
}

#img-div i {
    font-size: 0.9em;
}

img {
    border-radius: 30px;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 5px;
}


a {
    color: #008F11;
}

a:hover {
    color: #003B00;
}

p {
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
}

hr {
    color: #008F11;
}

#footer p {
    text-align: center;
}